<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.m039.mqst"
          android:versionCode="15"
          android:versionName="2.0.0"
          >

  <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14" />

  <application android:label="@string/app_name"
               android:icon="@drawable/icon"
               >

    <activity android:name="com.m039.isms.activity.MainActivity"
              android:theme="@style/Common.Theme"
              android:noHistory="true"
              >

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

    <!---->
    <!---->
    <!--new-->
    <!---->
    <!---->

    <activity android:name="com.m039.isms.activity.HeadActivity"
              android:theme="@style/Common.Theme"
              />
    
    <!---->
    <!---->
    <!--old-->
    <!---->
    <!---->

    <!-- main activity   -->

    <activity android:name=".InstantActivity"
              android:theme="@style/Common.Theme"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- activity for debugging purpose -->

    <activity android:name=".InstantDebugActivity"/>

    <!-- dialog to add an item -->

    <activity android:name="com.m039.mqst.activities.AddActivity"
              android:theme="@android:style/Theme.NoTitleBar"/>

    <!-- dialog to edit an item -->

    <activity android:name="com.m039.mqst.activities.EditActivity"
              android:theme="@android:style/Theme.NoTitleBar"/>

    <!-- sort settings/preferences -->

    <activity android:name="com.m039.mqst.activities.SortActivity"
              android:theme="@android:style/Theme.NoTitleBar"/>

    <!-- admob activity -->
    <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"/>

    <!-- main receiver -->

    <receiver android:name=".InstantProvider" >
      <intent-filter>
        <action android:name="com.m039.mqst.INIT_WIDGET"/>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/instant_provider_info" />
    </receiver>

  </application>

  <uses-permission android:name="android.permission.CALL_PHONE"/>
  <uses-permission android:name="android.permission.SEND_SMS"/>

  <!-- for pick contact button -->
  <uses-permission android:name="android.permission.READ_CONTACTS"/>

  <!-- for admob -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
