<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.m039.mqst"
          android:versionCode="16"
          android:versionName="2.0.1"
          >

  <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14" />

  <application android:label="@string/app_name"
               android:icon="@drawable/icon"
               android:name="com.m039.isms.app.BaseApplication"
               >

    <activity android:name="com.m039.isms.activity.MainActivity"
              android:screenOrientation="portrait"
              android:theme="@style/Common.Theme"
              android:noHistory="true"
              android:label="@string/app_name"
              >

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

    <!---->
    <!--new activities-->
    <!---->

    <activity android:name="com.m039.isms.activity.HeadActivity"
              android:theme="@style/Common.Theme"
              android:screenOrientation="portrait"
              />

    <activity android:name="com.m039.isms.activity.CreateMsgActivity"
              android:theme="@style/Common.Theme.NoActionBar"
              android:screenOrientation="portrait"
              />

    <activity android:name="com.m039.isms.activity.EditMsgActivity"
              android:theme="@style/Common.Theme.NoActionBar"
              android:screenOrientation="portrait"
              />

    <activity android:name="com.m039.isms.activity.AboutActivity"
              android:theme="@style/Common.Theme.Dialog"
              android:label="@string/a_about__label"
              android:screenOrientation="portrait"
              />

    <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

    <!---->
    <!--old activities-->
    <!---->

    <activity android:name=".InstantActivity"
              android:theme="@style/Common.Theme"
              android:label="@string/app_name"/>

    <activity android:name=".InstantDebugActivity"/>

    <activity android:name="com.m039.mqst.activities.AddActivity"
              android:theme="@android:style/Theme.NoTitleBar"/>

    <activity android:name="com.m039.mqst.activities.EditActivity"
              android:theme="@android:style/Theme.NoTitleBar"/>

    <activity android:name="com.m039.mqst.activities.SortActivity"
              android:theme="@android:style/Theme.NoTitleBar"/>


    <receiver android:name=".InstantProvider" >
      <intent-filter>
        <action android:name="com.m039.mqst.INIT_WIDGET"/>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/instant_provider_info" />
    </receiver>

  </application>

  <uses-permission android:name="android.permission.CALL_PHONE"/>
  <uses-permission android:name="android.permission.SEND_SMS"/>

  <!-- for pick contact button -->
  <uses-permission android:name="android.permission.READ_CONTACTS"/>

  <!-- for admob -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
